.beer-element-container {
  border: #ccc 1px dotted;
  padding: 10px;
  margin-bottom: 5px;

  &:hover {
    background-color: #f4f8fc;
  }
}

.beer-element {
  display: flex;
  justify-content: space-between;
}

