<nav class="navbar">
  <div class="app-title">Brewery</div>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li routerLinkActive="active"><a [routerLink]="['/beers']">Beers</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/orders']">Orders</a></li>
    <li *ngIf="!auth.isAuthenticated()" routerLinkActive="active"><a [routerLink]="['/login']">Login</a></li>
    <li *ngIf="auth.isAuthenticated()" routerLinkActive="active"><a (click)="logout()">Logout</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
