<div class="container">
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Style</th>
      <th>Price</th>
      <th>Quantity on hand</th>
      <th>Selected Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let beer of beers">
      <td>{{ beer.beerName }}</td>
      <td>{{ beer.beerStyle | enumFormat }}</td>
      <td>{{ beer.price }}</td>
      <td>{{ beer.quantityOnHand }}</td>
      <td>
        <input type="number" [(ngModel)]="beer.selectedQuantity"
               (change)="selectBeer(beer)" style="width: 70px;">
      </td>
    </tr>
    </tbody>
  </table>
  <div class="button-container">
    <button class="btn" style="margin-top: 10px" (click)="saveOrder()" [disabled]="selectedBeers.length === 0">Save order</button>
  </div>
</div>
