table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f0f0f0;
}

thead th {
  padding: 10px;
  text-align: left;
  min-width: 150px;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody td {
  padding: 10px;
  text-align: left;
  min-width: 150px;

}

input[type="number"] {
  width: 50px;
  height: 30px;
}

