* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

ul {
  list-style: none;
}


.btn {
  display: inline-block;
  background: #333333;
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;

  &:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
  }

  &:hover {
    opacity: 0.8;
  }
}

.form-control {
  display: block;
  margin-top: 0.3rem;
  margin-bottom: .5rem;


  .input-field {
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
  }

  label {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  .validation {
    color: red;
  }
}

a {
  text-decoration: none;
  color: #333;
}

hr {
  margin: .5rem 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  margin-bottom: 1rem;
  background: #fff;
  color: #fff;
  height: 70px;
  text-align: center;
  box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, 0.3);

  ul {
    display: flex;

    li.active a {
      background-color: #000;
      border-radius: 999em;
      color: #fff;
    }
  }

  a {
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.8rem;
    width: 85px;
    text-align: center;
    text-decoration: none;
  }
}

.title-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.add-button {
  height: 30px;
}

.element {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.small-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 150px;
}

.button-container {
  display: flex;
  justify-content: right;
}

.button-group {
  display: flex;
}

.title-name {
  font-size: 1.8rem;
  line-height: 2rem;
  color: black;
}

.element-container {
  border: #ccc 1px solid;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;

  &:hover {
    background-color: #eaf3ee;
    cursor: pointer;
  }
}


