<div class="small-container">
  <div class="hello-container">
    <h2>Welcome!</h2> <br>
    This is an application that represents a basic brewery example. <br>
    Here, you can explore a list of beers and easily manage them. <br>
    Feel free to add, edit, or delete beers based on your preferences. <br>
    Moreover, you have the option to create orders using the wide
    selection of available beers. Cheers ! <br>
    <button class="btn" (click)="navigateToBeers()" style="margin-top: 20px">
      Go to beers list</button>
  </div>
</div>
