<div class="container">
  <div class="title-group">
    <div class="title-name">Beers list</div>
    <button class="btn" (click)="navigateToAddBeer()">Add new beer</button>
  </div>
    <div *ngFor="let beer of beers">
      <a [routerLink]="['/beer', beer.id]">
      <div class="element-container">
        <div class="element">
          <div>
            {{beer.beerName}}
          </div>
          <div>
            {{'price: ' + beer.price + ' $'}}
          </div>
        </div>
        <div class="element">
          <div>
            {{beer.beerStyle | enumFormat}}
          </div>
          <div>
            {{'available in inventory: ' + beer.quantityOnHand}}
          </div>
        </div>
      </div>
      </a>
    </div>
  </div>
